<a href="https://colab.research.google.com/github/HariniMS/-Arithmetic-Operations-python/blob/master/FlightPrice_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **EDA + Feature Engineering:**

In [ ]:
#importing basics libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

%matplotlib inline ---> showing the diagram within the block without using plt.show()

In [ ]:
train_df = pd.read_excel("/content/drive/MyDrive/CSV/Flight_Fare_Train.xlsx")
train_df.head() # PRICE is target var

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [ ]:
test_df = pd.read_excel("/content/drive/MyDrive/CSV/Flight_Fare_Test.xlsx")
test_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [ ]:
final_df = pd.concat([train_df, test_df],  axis =1) # don't use!! no. of columns are increased
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,...,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,...,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,...,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,...,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,...,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,...,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [ ]:
df = train_df.append(test_df) 
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [ ]:
df.tail() # Nan values are at the bottom, there are no Price values in the tesy dataset so its NaN in the test

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [ ]:
df.isnull().sum() #in test we have 2671 missing values for purchase.

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
dtype: int64

# Feature Engineering Process :

## changing categorical features to Numerical features

# 1. Date_of_Journey : 
it is object but its number in realistic world (dd-mm-yy)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [ ]:
df['Date_of_Journey'].unique()

array(['24/03/2019', '1/05/2019', '9/06/2019', '12/05/2019', '01/03/2019',
       '24/06/2019', '12/03/2019', '27/05/2019', '1/06/2019',
       '18/04/2019', '9/05/2019', '24/04/2019', '3/03/2019', '15/04/2019',
       '12/06/2019', '6/03/2019', '21/03/2019', '3/04/2019', '6/05/2019',
       '15/05/2019', '18/06/2019', '15/06/2019', '6/04/2019',
       '18/05/2019', '27/06/2019', '21/05/2019', '06/03/2019',
       '3/06/2019', '15/03/2019', '3/05/2019', '9/03/2019', '6/06/2019',
       '24/05/2019', '09/03/2019', '1/04/2019', '21/04/2019',
       '21/06/2019', '27/03/2019', '18/03/2019', '12/04/2019',
       '9/04/2019', '1/03/2019', '03/03/2019', '27/04/2019'], dtype=object)

In [ ]:
df['Date_of_Journey'].str.split('')

0       [, 2, 4, /, 0, 3, /, 2, 0, 1, 9, ]
1          [, 1, /, 0, 5, /, 2, 0, 1, 9, ]
2          [, 9, /, 0, 6, /, 2, 0, 1, 9, ]
3       [, 1, 2, /, 0, 5, /, 2, 0, 1, 9, ]
4       [, 0, 1, /, 0, 3, /, 2, 0, 1, 9, ]
                       ...
2666       [, 6, /, 0, 6, /, 2, 0, 1, 9, ]
2667    [, 2, 7, /, 0, 3, /, 2, 0, 1, 9, ]
2668       [, 6, /, 0, 3, /, 2, 0, 1, 9, ]
2669       [, 6, /, 0, 3, /, 2, 0, 1, 9, ]
2670    [, 1, 5, /, 0, 6, /, 2, 0, 1, 9, ]
Name: Date_of_Journey, Length: 13354, dtype: object

In [ ]:
df['Date_of_Journey'].str.split(' ') # 1 space

0       [24/03/2019]
1        [1/05/2019]
2        [9/06/2019]
3       [12/05/2019]
4       [01/03/2019]
            ...
2666     [6/06/2019]
2667    [27/03/2019]
2668     [6/03/2019]
2669     [6/03/2019]
2670    [15/06/2019]
Name: Date_of_Journey, Length: 13354, dtype: object

In [ ]:
df['Date_of_Journey'].str.split('/')

0       [24, 03, 2019]
1        [1, 05, 2019]
2        [9, 06, 2019]
3       [12, 05, 2019]
4       [01, 03, 2019]
             ...
2666     [6, 06, 2019]
2667    [27, 03, 2019]
2668     [6, 03, 2019]
2669     [6, 03, 2019]
2670    [15, 06, 2019]
Name: Date_of_Journey, Length: 13354, dtype: object

In [ ]:
df['Date_of_Journey'].str.split('/')[0] #0th index

0    [24, 03, 2019]
0     [6, 06, 2019]
Name: Date_of_Journey, dtype: object

In [ ]:
df['Date_of_Journey'].str.split('/').str[0] ## getting dates

0       24
1        1
2        9
3       12
4       01
        ..
2666     6
2667    27
2668     6
2669     6
2670    15
Name: Date_of_Journey, Length: 13354, dtype: object

In [ ]:
#creating Date, Month & Year new columns in df dataframe

df['Date'] = df['Date_of_Journey'].str.split('/').str[0]
df['Month'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

In [ ]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  object
 12  Month            13354 non-null  object
 13  Year             13354 non-null  object
dtypes: float64(1), object(13)
memory usage: 2.0+ MB

In [ ]:
#converting those columns from char to int 

df['Date'] = df['Date'].astype(int)
df['Month'] = df['Month'].astype(int)
df['Year'] = df['Year'].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int64
 12  Month            13354 non-null  int64
 13  Year             13354 non-null  int64
dtypes: float64(1), int64(3), object(10)
memory usage: 2.0+ MB

####as we can see, converted to int from char

In [ ]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,6,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019

In [ ]:
#dropping  Date_of_Journey - column

df.drop("Date_of_Journey", axis=1, inplace=True)

In [ ]:
df.head(1) #dropped

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019

# 2.Arrival_Time 

Don't need date in this, beacuse we have date column seperately in this dataset.

In [ ]:
df['Arrival_Time'].str.split('')#0 space

0       [, 0, 1, :, 1, 0,  , 2, 2,  , M, a, r, ]
1                            [, 1, 3, :, 1, 5, ]
2       [, 0, 4, :, 2, 5,  , 1, 0,  , J, u, n, ]
3                            [, 2, 3, :, 3, 0, ]
4                            [, 2, 1, :, 3, 5, ]
                          ...
2666    [, 2, 0, :, 2, 5,  , 0, 7,  , J, u, n, ]
2667                         [, 1, 6, :, 5, 5, ]
2668    [, 0, 4, :, 2, 5,  , 0, 7,  , M, a, r, ]
2669                         [, 1, 9, :, 1, 5, ]
2670                         [, 1, 9, :, 1, 5, ]
Name: Arrival_Time, Length: 13354, dtype: object

In [ ]:
df['Arrival_Time'].str.split(' ') #1 space

0       [01:10, 22, Mar]
1                [13:15]
2       [04:25, 10, Jun]
3                [23:30]
4                [21:35]
              ...
2666    [20:25, 07, Jun]
2667             [16:55]
2668    [04:25, 07, Mar]
2669             [19:15]
2670             [19:15]
Name: Arrival_Time, Length: 13354, dtype: object

In [ ]:
df['Arrival_Time'].str.split(' ').str[0]  #df['Arrival_Time'].apply(lamba x : x.split(' ')[0])

0       01:10
1       13:15
2       04:25
3       23:30
4       21:35
        ...
2666    20:25
2667    16:55
2668    04:25
2669    19:15
2670    19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [ ]:
df['Arrival_Time']= df['Arrival_Time'].str.split(' ').str[0]

In [ ]:
df.head(3)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019

## #splitting hour & min from "Arrival_Time"

In [ ]:
df["Arrival_Time"].str.split(":")

0       [01, 10]
1       [13, 15]
2       [04, 25]
3       [23, 30]
4       [21, 35]
          ...
2666    [20, 25]
2667    [16, 55]
2668    [04, 25]
2669    [19, 15]
2670    [19, 15]
Name: Arrival_Time, Length: 13354, dtype: object

In [ ]:
df["Arrival_hour"] = df["Arrival_Time"].str.split(":").str[0] 
df["Arrival_min"] = df["Arrival_Time"].str.split(":").str[1] 
df.head(3) #new columns added at the end

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,01,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019,04,25

In [ ]:
df["Arrival_hour"] = df["Arrival_hour"].astype(int)
df["Arrival_min"] = df["Arrival_min"].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int64
 11  Month            13354 non-null  int64
 12  Year             13354 non-null  int64
 13  Arrival_hour     13354 non-null  int64
 14  Arrival_min      13354 non-null  int64
dtypes: float64(1), int64(5), object(9)
memory usage: 2.1+ MB

In [ ]:
#dropping Arrival_Time

df.drop("Arrival_Time", axis=1, inplace=True)

df.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Duration',
       'Total_Stops', 'Additional_Info', 'Price', 'Date', 'Month', 'Year',
       'Arrival_hour', 'Arrival_min'],
      dtype='object')

In [ ]:
df.head(1)

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10

## 3. Dep_Time	 : Departure Time

In [ ]:
df["Dep_hour"] = df["Dep_Time"].str.split(":").str[0] 
df["Dep_min"] = df["Dep_Time"].str.split(":").str[1] 
df.head(3) #new columns added at the end

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,05,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2 stops,No info,13882.0,9,6,2019,4,25,09,25

In [ ]:
df["Dep_hour"] = df["Dep_hour"].astype(int)
df["Dep_min"] = df["Dep_min"].astype(int)

In [ ]:
df.drop("Dep_Time", axis=1, inplace=True)

df.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'Date', 'Month', 'Year', 'Arrival_hour',
       'Arrival_min', 'Dep_hour', 'Dep_min'],
      dtype='object')

In [ ]:
df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35,16,50

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   Date             13354 non-null  int64
 9   Month            13354 non-null  int64
 10  Year             13354 non-null  int64
 11  Arrival_hour     13354 non-null  int64
 12  Arrival_min      13354 non-null  int64
 13  Dep_hour         13354 non-null  int64
 14  Dep_min          13354 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 2.1+ MB

# 4. Total_Stops : 
### I think more the stops less the price because more people share the ride

In [ ]:
df["Total_Stops"].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [ ]:
df['Total_Stops'].value_counts() # 1 stop are more, let's assign NaN with 1 stop

1 stop      7056
non-stop    4340
2 stops     1899
3 stops       56
4 stops        2
Name: Total_Stops, dtype: int64

In [ ]:
df['Total_Stops'] = df['Total_Stops'].map({ 'non-stop' : 0 , '1 stop' : 1, '2 stops' : 2, '3 stops' : 3, '4 stops': 4, 'nan' : 1})

In [ ]:
df['Total_Stops'].unique()

array([ 0.,  2.,  1.,  3., nan,  4.])

In [ ]:
df['Total_Stops'].value_counts()

1.0    7056
0.0    4340
2.0    1899
3.0      56
4.0       2
Name: Total_Stops, dtype: int64

In [ ]:
df["Total_Stops"].isnull().sum()

1

In [ ]:
df[df["Total_Stops"].isnull().sum()]

KeyError: ignored

In [ ]:
df['Total_Stops'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
2666    False
2667    False
2668    False
2669    False
2670    False
Name: Total_Stops, Length: 13354, dtype: bool

In [ ]:
df['Total_Stops'].isnull().value_counts()

False    13353
True         1
Name: Total_Stops, dtype: int64

In [ ]:
df[df['Total_Stops'].isnull()] #in particular column

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

In [ ]:
df[df.isnull().any(axis=1)] #getting Nan values in the entire dataframe

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,10h 55m,1.0,No info,NaN,6,6,2019,4,25,17,30
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,4h,1.0,No info,NaN,12,5,2019,10,20,6,20
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,23h 45m,1.0,In-flight meal not included,NaN,21,5,2019,19,0,19,15
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,13h,1.0,No info,NaN,21,5,2019,21,0,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,23h 55m,1.0,No info,NaN,6,6,2019,20,25,20,30
2667,IndiGo,Kolkata,Banglore,CCU → BLR,2h 35m,0.0,No info,NaN,27,3,2019,16,55,14,20
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,6h 35m,1.0,No info,NaN,6,3,2019,4,25,21,50
2669,Air India,Delhi,Cochin,DEL → BOM → COK,15h 15m,1.0,No info,NaN,6,3,2019,19,15,4,0
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,14h 20m,1.0,No info,NaN,15,6,2019,19,15,4,55

In [ ]:
%who DataFrame

df	 final_df	 test_df	 train_df

# 4. Route

In [ ]:
df.drop("Route", axis = 1, inplace=True)

In [ ]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Duration         13354 non-null  object
 4   Total_Stops      13353 non-null  float64
 5   Additional_Info  13354 non-null  object
 6   Price            10683 non-null  float64
 7   Date             13354 non-null  int64
 8   Month            13354 non-null  int64
 9   Year             13354 non-null  int64
 10  Arrival_hour     13354 non-null  int64
 11  Arrival_min      13354 non-null  int64
 12  Dep_hour         13354 non-null  int64
 13  Dep_min          13354 non-null  int64
dtypes: float64(2), int64(7), object(5)
memory usage: 2.0+ MB

# 5. Duration

In [ ]:
df["Duration"].str.split(' ')

0        [2h, 50m]
1        [7h, 25m]
2            [19h]
3        [5h, 25m]
4        [4h, 45m]
           ...
2666    [23h, 55m]
2667     [2h, 35m]
2668     [6h, 35m]
2669    [15h, 15m]
2670    [14h, 20m]
Name: Duration, Length: 13354, dtype: object

In [ ]:
df["Duration"].str.split(' ').str[0]

0        2h
1        7h
2       19h
3        5h
4        4h
       ...
2666    23h
2667     2h
2668     6h
2669    15h
2670    14h
Name: Duration, Length: 13354, dtype: object

In [ ]:
df["Duration"].str.split(' ').str[0].str.split('h')

0        [2, ]
1        [7, ]
2       [19, ]
3        [5, ]
4        [4, ]
         ...
2666    [23, ]
2667     [2, ]
2668     [6, ]
2669    [15, ]
2670    [14, ]
Name: Duration, Length: 13354, dtype: object

In [ ]:
#method -1
df["Duration"].str.split(' ').str[0].str.split('h').str[0]

0        2
1        7
2       19
3        5
4        4
        ..
2666    23
2667     2
2668     6
2669    15
2670    14
Name: Duration, Length: 13354, dtype: object

In [ ]:
#method-2
df["Duration"].str.split('h')

0        [2,  50m]
1        [7,  25m]
2           [19, ]
3        [5,  25m]
4        [4,  45m]
           ...
2666    [23,  55m]
2667     [2,  35m]
2668     [6,  35m]
2669    [15,  15m]
2670    [14,  20m]
Name: Duration, Length: 13354, dtype: object

In [ ]:
df["Duration"].str.split('h').str[0]

0        2
1        7
2       19
3        5
4        4
        ..
2666    23
2667     2
2668     6
2669    15
2670    14
Name: Duration, Length: 13354, dtype: object

In [ ]:
df["Duration"].str.split('h').str[1]

0        50m
1        25m
2
3        25m
4        45m
        ...
2666     55m
2667     35m
2668     35m
2669     15m
2670     20m
Name: Duration, Length: 13354, dtype: object

In [ ]:
df["Duration"].str.split('m').str[0]

0        2h 50
1        7h 25
2          19h
3        5h 25
4        4h 45
         ...
2666    23h 55
2667     2h 35
2668     6h 35
2669    15h 15
2670    14h 20
Name: Duration, Length: 13354, dtype: object

In [ ]:
#method 3
df["Duration"].str.replace("h","")

0        2 50m
1        7 25m
2           19
3        5 25m
4        4 45m
         ...
2666    23 55m
2667     2 35m
2668     6 35m
2669    15 15m
2670    14 20m
Name: Duration, Length: 13354, dtype: object

In [ ]:
#method-1
df["Duration_hour"] = df["Duration"].str.split(' ').str[0].str.split('h').str[0]

In [ ]:
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_hour
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20,2
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50,7
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25,19
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5,5
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50,4

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Duration         13354 non-null  object
 4   Total_Stops      13353 non-null  float64
 5   Additional_Info  13354 non-null  object
 6   Price            10683 non-null  float64
 7   Date             13354 non-null  int64
 8   Month            13354 non-null  int64
 9   Year             13354 non-null  int64
 10  Arrival_hour     13354 non-null  int64
 11  Arrival_min      13354 non-null  int64
 12  Dep_hour         13354 non-null  int64
 13  Dep_min          13354 non-null  int64
 14  Duration_hour    13354 non-null  object
dtypes: float64(2), int64(7), object(6)
memory usage: 2.1+ MB

In [ ]:
df["Duration_hour"] = df["Duration_hour"].astype(int)

ValueError: ignored

In [ ]:
df["Duration_hour"]=="5m"

0       False
1       False
2       False
3       False
4       False
        ...
2666    False
2667    False
2668    False
2669    False
2670    False
Name: Duration_hour, Length: 13354, dtype: bool

In [ ]:
df[df["Duration_hour"]=="5m"]

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration_hour,Duration_min
6474,Air India,Mumbai,Hyderabad,5m,2.0,No info,17327.0,6,3,2019,16,55,16,50,5m,NaN
2660,Air India,Mumbai,Hyderabad,5m,2.0,No info,NaN,12,3,2019,16,55,16,50,5m,NaN

In [ ]:
df.drop(6474, axis=0, inplace=True) #axis=0, deleting row wise
df.drop(2660, axis=0, inplace=True)

In [ ]:
df[df["Duration_hour"]=="5m"]

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_hour, Arrival_min, Dep_hour, Dep_min, Duration_hour, Duration_min]
Index: []

In [ ]:
df["Duration_hour"] = df["Duration_hour"].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13351 non-null  object
 1   Source           13351 non-null  object
 2   Destination      13351 non-null  object
 3   Duration         13351 non-null  object
 4   Total_Stops      13350 non-null  float64
 5   Additional_Info  13351 non-null  object
 6   Price            10681 non-null  float64
 7   Date             13351 non-null  int64
 8   Month            13351 non-null  int64
 9   Year             13351 non-null  int64
 10  Arrival_hour     13351 non-null  int64
 11  Arrival_min      13351 non-null  int64
 12  Dep_hour         13351 non-null  int64
 13  Dep_min          13351 non-null  int64
 14  Duration_hour    13351 non-null  int64
 15  Duration_min     12068 non-null  object
dtypes: float64(2), int64(8), object(6)
memory usage: 1.7+ MB

### Duration_min

In [ ]:
 #method 3
df["Duration"].str.replace("m","")

0        2h 50
1        7h 25
2          19h
3        5h 25
4        4h 45
         ...
2666    23h 55
2667     2h 35
2668     6h 35
2669    15h 15
2670    14h 20
Name: Duration, Length: 13351, dtype: object

In [ ]:
df["Duration"].str.replace("m","").str[1]

0       h
1       h
2       9
3       h
4       h
       ..
2666    3
2667    h
2668    h
2669    5
2670    4
Name: Duration, Length: 13351, dtype: object

In [ ]:
df["Duration"].str.replace("m","").str[0]

0       2
1       7
2       1
3       5
4       4
       ..
2666    2
2667    2
2668    6
2669    1
2670    1
Name: Duration, Length: 13351, dtype: object

In [ ]:
df["Duration"].str.replace("m","").str[4]

0         0
1         5
2       NaN
3         5
4         5
       ...
2666      5
2667      5
2668      5
2669      1
2670      2
Name: Duration, Length: 13351, dtype: object

In [ ]:
df["Duration"].str.replace("m","").str[3:]

0        50
1        25
2
3        25
4        45
       ...
2666     55
2667     35
2668     35
2669     15
2670     20
Name: Duration, Length: 13351, dtype: object

In [ ]:
df["Duration"].str.replace("m","").str[3:].unique()

array(['50', '25', '', '45', ' 30', ' 5', ' 15', '35', '15', ' 10', ' 35',
       '30', '10', ' 20', '55', ' 25', ' 55', '20', ' 50', '40', ' 45',
       ' 40', '5'], dtype=object)

In [ ]:
#method-1
df["Duration"].str.split(' ').str[1]

0       50m
1       25m
2       NaN
3       25m
4       45m
       ...
2666    55m
2667    35m
2668    35m
2669    15m
2670    20m
Name: Duration, Length: 13351, dtype: object

In [ ]:
df["Duration"].str.split(' ').str[1].str.split('m')

0       [50, ]
1       [25, ]
2          NaN
3       [25, ]
4       [45, ]
         ...
2666    [55, ]
2667    [35, ]
2668    [35, ]
2669    [15, ]
2670    [20, ]
Name: Duration, Length: 13351, dtype: object

In [ ]:
df["Duration"].str.split(' ').str[1].str.split('m').str[0]

0        50
1        25
2       NaN
3        25
4        45
       ...
2666     55
2667     35
2668     35
2669     15
2670     20
Name: Duration, Length: 13351, dtype: object

In [ ]:
df["Duration"].str.split(' ').str[1].str.split('m').str[0].unique()

array(['50', '25', nan, '45', '30', '5', '15', '35', '10', '20', '55',
       '40'], dtype=object)

In [ ]:
df["Duration_min"] = df["Duration"].str.split(' ').str[1].str.split('m').str[0]

In [ ]:
df["Duration_min"] = df["Duration_min"].astype(int)

ValueError: ignored

In [ ]:
df["Duration_min"].value_counts() #dtype is wrong, its actually object. look below outputs

30    1818
20    1260
50    1205
45    1154
35    1149
15    1135
55    1121
25    1009
40     803
5      767
10     647
Name: Duration_min, dtype: int64

In [ ]:
df["Duration_min"].unique() # nan is there

array(['50', '25', nan, '45', '30', '5', '15', '35', '10', '20', '55',
       '40'], dtype=object)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13351 non-null  object
 1   Source           13351 non-null  object
 2   Destination      13351 non-null  object
 3   Duration         13351 non-null  object
 4   Total_Stops      13350 non-null  float64
 5   Additional_Info  13351 non-null  object
 6   Price            10681 non-null  float64
 7   Date             13351 non-null  int64
 8   Month            13351 non-null  int64
 9   Year             13351 non-null  int64
 10  Arrival_hour     13351 non-null  int64
 11  Arrival_min      13351 non-null  int64
 12  Dep_hour         13351 non-null  int64
 13  Dep_min          13351 non-null  int64
 14  Duration_hour    13351 non-null  int64
 15  Duration_min     12068 non-null  object
dtypes: float64(2), int64(8), object(6)
memory usage: 1.7+ MB

In [ ]:
df["Duration_min"] = df["Duration_min"].astype("int64")

ValueError: ignored

In [ ]:
df['Duration_min'].astype(np.float).astype("Int32") #we can see NA in index=2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.

0         50
1         25
2       <NA>
3         25
4         45
        ...
2666      55
2667      35
2668      35
2669      15
2670      20
Name: Duration_min, Length: 13351, dtype: Int32

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13351 non-null  object
 1   Source           13351 non-null  object
 2   Destination      13351 non-null  object
 3   Duration         13351 non-null  object
 4   Total_Stops      13350 non-null  float64
 5   Additional_Info  13351 non-null  object
 6   Price            10681 non-null  float64
 7   Date             13351 non-null  int64
 8   Month            13351 non-null  int64
 9   Year             13351 non-null  int64
 10  Arrival_hour     13351 non-null  int64
 11  Arrival_min      13351 non-null  int64
 12  Dep_hour         13351 non-null  int64
 13  Dep_min          13351 non-null  int64
 14  Duration_hour    13351 non-null  int64
 15  Duration_min     12068 non-null  object
dtypes: float64(2), int64(8), object(6)
memory usage: 1.7+ MB

### You need to say what you want to do with nans. You can either drop those rows (df.dropna()) or replace nans with something else (0 for instance: df.fillna(0))

df["Height (cm)"]= df["Height (cm)"].fillna(0).astype(int)

In [ ]:
#dropping NAN values

df["Duration_min"].isnull().sum()

1283

In [ ]:
#df["Duration_min"] = df["Duration_min"].dropna(axis=0,inplace=True)

In [ ]:
#df["Duration_min"].isnull().sum()

In [ ]:
#df.dropna(subset = ["Duration_min"], inplace=True)

In [ ]:
#df["Duration_min"].isnull().sum()